<style>
    
  </style>
  <div class="row ">
      
    <input class="search form-control form-control-sm" type="date" name="date_init" placeholder="date" required id="id_date_init">
     <label for="id_date_fin" class="px-2">to</label>
    <input class="search form-control form-control-sm" type="date" name="date_fin" placeholder="date" required id="id_date_fin">
    <button type="submit" class="btn btn-primary btn-sm btn-block text-white search"><span class="icon-search icon mr-2"></span>Search Transactions <i class="bi bi-search"></i></button>
      
    </div>