<div class="modal fade" id="date-selector-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content p-2">
            <div class="modal-header border-0 ">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: 'Roboto Slab',serif;">
                    Transactions Between</h5>
                <button type="button" class="close bg-transparent border-0" onclick="hideModal()" aria-label="Close">
                    <span><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body p-1">
                <div class=" text-center p-4">
                    <label for="datepicker1">Start Date</label>
                    <input type="text" class="form-group" id="datepicker1" placeholder="Select Date" style="border-radius: 4px"  ><i class="bi bi-calender"></i></div>
                <div class="text-center p-4">
                    <label for="datepicker2">End Date</label>
                    <input type="text" class="form-group "  style="border-radius: 4px" id="datepicker2" placeholder="Select Date">
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" onclick="hideModal()" aria-label="Close">Close
                </button>
                <button type="button" id="modal-submit-btn" class="btn text-white" style="background-color: #121271">
                    Export
                </button>
            </div>
        </div>
    </div>
</div>