
<div class="row">
    
      <input type="text"  name="ref_no" class="search form-control form-control-sm" placeholder="Transaction Reference Number">
   
      <input type="text"  name="cust_no" class="search form-control form-control-sm" placeholder="Customer Number">
        
      <input type="text"  name="amount" class="search form-control form-control-sm" placeholder="Amount">
    
      <button type="submit" class="btn btn-primary btn-sm btn-block text-white search"><span
          class="icon-search icon mr-2"></span>Search Transactions <i class="bi bi-search"></i></button>
    
  </div>