<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
{% include 'dashboard/navbar.html' %}
{% include 'dashboard/date_selector_modal.html' %}
<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-start">
            <h4 style="opacity:0.8;">Transaction History</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <form>
                <div class="search-bar">
                    <select id="search-dropdown">
                        <option >Filters</option>
                        <option value="customer_no">Customer Number</option>
                        <option value="amount"> Amount</option>
                        <option value="transaction_id">Transaction ID</option>
                        <option value="transaction_date">Transaction Date</option>
                        <option value="entry_date">Entry Date</option>
                    </select>
                    <input type="text" id="search-input" placeholder="Search Transactions...">
                    <button id="search-btn">search</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#date-selector-modal"><i class="bi bi-filetype-xls"></i></button>
                </div>
            </form>

        </div>
    </div>
    <div class="row mt-5 mb-2">
        <div class="col d-flex justify-content-end">
            <button class="btn btn-sm text-white" id="toggle-btn" style="background-color: #121271 ;border-radius:50px;"> Toggle </button>
        </div>
    </div>
    <div class="row mt-4 mb-4" id="chart-div">

        <div class="col ">
            <div class="card shadow-sm border-0 p-2">
                <canvas id="lineGraph" style="height: 250px;"></canvas>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm border-0 p-2">
                <canvas id="barGraph" style="height: 250px;"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card p-4 shadow border-0 ">
            <table class="table text-align table-hover pt-2" style="opacity:0.9;">

                <thead class="thead "></thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Message</th>
                    <th scope="col">Customer Number</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction Remarks</th>
                    <th scope="col">Transaction Id</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Entry Date Time</th>

                </tr>
                </thead>
                <tbody id="table-body">
                {% if s_t %}
                    {% for items in  s_t %}
                        <tr scope="row">
                            <td> {{ items.id }}</td>
                            <td>{{ items.processed }}</td>
                            <td>{{ items.customer_no }}</td>
                            <td>{{ items.amount }}</td>
                            <td>{{ items.name }}</td>
                            <td>{{ items.transid }}</td>
                            <td>{{ items.transdate }}</td>
                            <td>{{ items.entrydate }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">No transactions to show</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row paginator-wrap py-2" id="paginator"
         data-num-pages="{{ s_t.paginator.num_pages }}">
        <div class="col-md-6  text-md-left mb-4 mb-md-0" id="current">
            <span id="page_navigator">Showing {{ s_t.number }} of {{ s_t.paginator.num_pages }} Pages</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="custom-pagination ml-auto">
      <span>
      {% if s_t.has_previous %}
          <a href="?page={{ s_t.previous_page_number }}" id="previous" class="px-2 previous">Prev</a>
          <a href="?page=1" class="px-2 first" id="first">First</a>
      {% else %}
          <a href="?page=0" id="previous" class="px-2 previous d-none">Prev</a>
          <a href="?page=1" class="px-2 first d-none" id="first">First</a>
      {% endif %}
    </span>
                {% if s_t.has_next %}
                    <span id="next_page">
        <a class=" px-2 next" id="next" href="?page={{ s_t.next_page_number }}">Next</a>
          <a href="?page={{ s_t.paginator.num_pages }}" class="px-2" id="last">Last </a>
      </span>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<footer class="footer pt-5">
    <div class="text-center p-4">
        Copyright © 2023

    </div>
    <!-- Copyright -->
</footer>

<script src="{% static 'js/transactions.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.7.0"
        integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js "></script>
<script>
    $(document).ready(function(){
        $("#toggle-btn").click(function(){
            $("#chart-div").toggle();
        })
    })
     </script>
<script>
    flatpickr(datepicker2, {
        dateFormat: "Y-m-d"
    });
    flatpickr(datepicker1, {
        dateFormat: "Y-m-d"
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var chr = document.getElementById('barGraph').getContext('2d');
        var monthLabels = [{% for data in data_by_month %}'{{ data.month }}',{% endfor %}];
        var dataPoints = [];

        {% for data in data_by_month %}
            dataPoints.push({{ data.data|default:0 }});
        {% endfor %}

        var chart1 = new Chart(chr, {
            type: 'bar',
            data: {
                labels: monthLabels,
                datasets: [{
                    label: 'Number of Transactions',
                    backgroundColor: "#0B0B45",
                    borderColor: "#417690",
                    data: dataPoints,

                }]
            },
            options: {
                scales: {
                    y: {

                        suggestedMin: 0,
                        suggestedMax: 100

                    }
                }
            }
        });

        var ctx = document.getElementById('lineGraph').getContext('2d');
        var chart2 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for date_list in date_list %}'{{ date_list|safe }}',{% endfor %}],
                datasets: [{
                    label: 'Number of Transactions',
                    backgroundColor: "#0B0B45",
                    borderColor: "#417690",
                    data: [{% for count_list in count_list %}{{ count_list|safe }}, {% endfor %}],

                }]
            },
            options: {
                scales: {
                    y: {

                        suggestedMin: 0,
                        suggestedMax: 100

                    }
                }
            }
        });
    });
</script>
</body>
</html>